body {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DADFE8;
}

.pokedex {
    padding: 30px 0;
    display: flex;
    gap: 30px;
}


